@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello World!</h1>

<p>
    A simple ASP .NET Core MVC App on C# which makes HTTP request on server  <br />
    and retrieves some JSON data and then deserializes it to use linq requests, <br />
    all data must be rendered into HTML page.
</p>